body {
	background-image: linear-gradient(#041c2c, #001e62);
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1 {
	font-family: "JetBrains Mono", "Menlo", "Consolas", "Courier New", monospace;
}
p {
	font-family: "JetBrains Mono", "Menlo", "Consolas", "Courier New", monospace;
}
.topnav {
	font-family: "JetBrains Mono", "Menlo", "Consolas", "Courier New", monospace;
	width: 80%;
	position: sticky;
	top: 0;
	z-index: 2;
	overflow: hidden;
	background-color: #222223;
	border-radius: 15px;
	text-align: center;
	margin-top: 2%;
}
.topnav a {
	font-family: "JetBrains Mono", "Menlo", "Consolas", "Courier New", monospace;
	font-weight: normal;
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 14px 16px;
	text-decoration: none;
	border-radius: 15px;
}
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
.topnav img {
	width: 50px;
	height:50px;
	margin: 14px 16px;
	float: left;
	display: block;
}
.mainBody {
	font-family: "JetBrains Mono", "Menlo", "Consolas", "Courier New", monospace;
	color: black;
	font-size: 20px;
	margin: -1% 2% -1%;
	z-index: 1;
	background-color: #c3d7ee;
	border-radius: 15px;
	padding: 1%;
	padding-bottom: 4%;
}
.gameRow {
	display: flex;
	flex-direction: row;
	padding: 0% 2%;
}
.gameCard {
	width: 50%;
	height: 550px;
	padding: 16px 16px;
	margin: 0% 1%;
	border-radius: 15px;
	text-decoration: none;
	color: white;
	text-shadow: 0px 2px 4px #000000;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.gameCard p {
	float: left;
}
.gameCardLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
}
.footer {
	font-family: "JetBrains Mono", "Menlo", "Consolas", "Courier New", monospace;
	float: right;
	width: 30%;
	position: sticky;
	bottom: 0;
	z-index: 2;
	overflow: hidden;
	background-color: #222223;
	border-radius: 15px;
	text-align: center;
	margin-bottom: 2%;
	color: white;
	font-size: 12pt;
}
.footer a {
	color: LightSkyBlue;
}
@media screen and (max-width:600px) {
	h1 {
		font-size: 20pt;
	}
	.topnav {
		font-size: 12pt;
		width: 100%;
		margin-top: 0%;
		height: 10%;
	}
	.topnav a {
		padding: 7px 8px;
		margin: 5% 12px;
	}
	.topnav img {
		width: 50px;
		height: 50px;
	}
	.mainBody {
		font-size: 12pt;
		margin: -1% 0% -1% 0%;
	}
	.gameRow {
		flex-direction: row;
		padding: 1% 1%;
		flex-direction: column;
		font-size: 8pt;
	}
	.gameCard {
		width: 93%;
		height: 20%;
		padding: 8px 8px;
		margin: 2% 1%;
		border-radius: 15px;
	}
	.footer {
		font-family: "JetBrains Mono", "Menlo", "Consolas", "Courier New", monospace;
		width: 80%;
		border-radius: 15px;
		text-align: center;
		margin-bottom: 2%;
		font-size: 8pt;
		position: static;
	}
}
