body {
	background-image: linear-gradient(#041c2c, #001e62);
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1 {
	font-family: "JetBrains Mono", "Menlo", "Consolas", "Courier New", monospace;
	color: black;
}
p {
	font-family: "JetBrains Mono", "Menlo", "Consolas", "Courier New", monospace;
	color: black;
	font-size: 20px;
}
.topnav {
	/*font-family: 'Open Sans', Arial, Helvetica, sans-serif;*/
	font-family: "JetBrains Mono", "Menlo", "Consolas", "Courier New", monospace;
	width: 80%;
	position: sticky;
	z-index: 2;
	overflow: hidden;
	background-color: #222223;
	border-radius: 15px;
	text-align: center;
	margin-top: 2%;
}
.topnav a {
	font-family: "JetBrains Mono", "Menlo", "Consolas", "Courier New", monospace;
	font-weight: normal;
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 14px 16px;
	text-decoration: none;
	border-radius: 15px;
}
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
.topnav img {
	width: 50px;
	margin: 14px 16px;
	float: left;
	display: block;
}
.mainBody {
	font-family: "JetBrains Mono", "Menlo", "Consolas", "Courier New", monospace;
	margin: -1% 2% 0%;
	z-index: 1;
	background-color: #c3d7ee;
	border-radius: 15px;
	padding: 1%;
	padding-bottom: 4%;
	/*text-align: center;*/
}
.gameRow {
	display: flex;
	flex-direction: row;
	padding: 0% 2%;
}
.gameCard {
	width: 1000px;
	height: 550px;
	padding: 16px 16px;
	margin: 0% 1%;
	border-radius: 15px;
	text-decoration: none;
	color: white;
	text-shadow: 0px 2px 4px #000000;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.gameCardLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
}
.footer {
	
}
