body {
	font-family: "JetBrains Mono", "Menlo", "Consolas", "Courier New", monospace;
	background-image: linear-gradient(#101820, #001e62);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	margin: 0% 10%;
}
.topnav {
	width: 80%;
	position: sticky;
	top: 0;
	z-index: 2;
	overflow: hidden;
	background-color: #253746;
	border-radius: 15px;
	text-align: center;
	margin-top: 2%;
}
.topnav a {
	font-weight: normal;
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 14px 16px;
	text-decoration: none;
	border-radius: 15px;
}
.topnav a:hover {
	background-color: #ddd;
	color: #253746;
}
.topnav img {
	width: 50px;
	height:50px;
	margin: 14px 16px;
	float: left;
	display: block;
}
.mainBody {
	color: black;
	font-size: 20px;
	margin: -1% 2% -1%;
	z-index: 1;
	background-color: #c3d7ee;
	border-radius: 15px;
	padding: 1%;
	padding-bottom: 4%;
}
.footer {
	float: right;
	width: 30%;
	z-index: 2;
	overflow: hidden;
	background-color: #253746;
	border-radius: 15px;
	text-align: center;
	margin-bottom: 2%;
	color: white;
	font-size: 12pt;
}
.footer a {
	color: LightSkyBlue;
}
.gameRow {
	display: grid;
	width: 99%;
	grid-template-columns: 50% 50%;
	column-gap: 1%;
}
.gameCard {
	padding: 16px 16px;
	border-radius: 15px;
	text-decoration: none;
	color: white;
	text-shadow: 0px 2px 4px #000000;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.gameCard p {
	float: left;
}
.gameCardLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
}
.connectGrid {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
}
.connectGrid a {
	font-size: 40pt;
	font-weight: bold;
	color: black;
	padding: 14px 16px;
}
@media screen and (max-width:600px) {
	body {
		margin: 0% 0%;
	}
	h1 {
		font-size: 20pt;
	}
	.topnav {
		font-size: 12pt;
		width: 100%;
		margin-top: 0%;
		height: 10%;
	}
	.topnav a {
		padding: 7px 8px;
		margin: 5% 12px;
	}
	.topnav img {
		width: 50px;
		height: 50px;
	}
	.mainBody {
		font-size: 12pt;
		margin: -1% 0% -1% 0%;
	}
	.footer {
		width: 80%;
		border-radius: 15px;
		text-align: center;
		margin-bottom: 2%;
		font-size: 8pt;
	}
	.gameRow {
		width: 100%;
		grid-template-columns: 100%;
		font-size: 8pt;
	}
	.gameCard {
		margin: 2% 1%;
		border-radius: 15px;
	}
	.connectGrid a {
		font-size: 10pt;
	}
}
